@charset "utf-8";
body{
    padding: 10px;
    font-family: "Roboto";
    font-size: 15px;
    color: rgb(0, 61, 85);
    background-color: rgb(255, 234, 182);
}
#entete{
    font-size: 35px;
    padding-bottom: 10px;
    text-align: center;
}
bui{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
} 
.sspartie{
    padding-left: 20px;
}
h1{
    color: darkred;
    text-decoration: underline;
    font-size: x-large;
}
h2{
    text-decoration: underline;
    font-size: 40px;
}
h3{
    text-decoration: underline;
    font-size: 32px;
}
h4{
    text-decoration: underline;
    font-size: 25px;
}
h5{
    text-decoration: underline;
    font-size: 20px;
}
.chXaY{
    color: black;
    text-decoration: underline;
    font-size: 18px;
}

.chX{
    font-size: 10px;
}
ul li h5{ margin-bottom: 5px; margin-top: 10px;}